<h1> All your courses </h1>

<ol>
    <% @courses.each do |course|%>
    <li> <%=course.title %> <%=  link_to "course detail", course_path(course) %> </li>
    <% end %>

</ol>
<%= link_to "Create new course", new_course_path %>
